.contactContenedor {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    user-select:none;
  }

  .contactTitle{
    font-size: 2.5em;
    margin: 10px 0 0 5px;
    margin-bottom: -30px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }

    .contactTitle p {
      color: #ffffff;
      padding: 0 10px;
      font-family: 'Roboto', sans-serif;
      border-top: 4px solid #ffffff;
      border-bottom: 4px solid #ffffff;
    }

  .contactDescription{
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px;
    font-size: 1.1em;
  }

  .contactForm{
    grid-column-start: 2;
    grid-column-end: 2;
   width: 95%;
    font-size: 1.1em;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
  }

  .lLabel{
    padding: 15px 0 5px 0;
    position: relative;
    
    width: 80%;
  }

  .formImput{
    position: relative;
    width: 90%;
    height: 30px;
   font-size: 0.9em;
   margin: auto;
   left: 20px;
  }

  .formMensaje{
    position: relative;
    width: 90%;

    height: 150px;
   font-size: 1.2em;
   margin: auto;
   left: 20px;
  }

  .errorInput{
    color: #00CFEF;
    margin: 0px;
  }

  .captchaForm{
    position: relative;
    width: 90%;
    margin: auto;
    left: 20px;
    margin: 10px 0 10px 0;
  }
  
 input[type=submit] {
    background-color: #00CFEF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    position: relative;
    left: 20px;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  }

  input[type=submit]:disabled{
    color: rgb(105, 103, 103) !important;
    background-color: #222;
    transition: all 0.2s ease;
  }

  input[type=submit]:hover{
    color: rgb(95, 95, 95) !important;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
    transition: all 0.2s ease;
  }

@media screen and (max-width: 768px) {
  .contactContenedor {
    grid-template-columns: 1fr;
    max-width: 95%;
    margin: auto;
    grid-column-gap: 10px;
  }

  .contactDescription{
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 20px;
  }
  
  .contactForm{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 15px;
  }

  .contactTitle{
    

    }
}
