.contactContenedor {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    user-select:none;
  }

  .contactTitle{
    font-size: 2em;
    color: #00CFEF;
    margin: 50px 0 0 5px;
    margin-bottom: -30px;
    }

  .contactDescription{
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px;
    font-size: 1.1em;
  }

  .contactForm{
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
    font-size: 1.1em;
  }

  .lLabel{
    padding: 15px 0 5px 0;
  }

  .formImput{
    width: 100%;
    height: 30px;
   font-size: 0.9em;
  }

  .formMensaje{
    width: 100%;
    height: 150px;
   font-size: 1.2em;
  }

  .errorInput{
    color: #00CFEF;
    margin: 0px;
  }

  .captchaForm{
    margin: 10px 0 10px 0;
  }
  
 input[type=submit] {
    background-color: #00CFEF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  }

  input[type=submit]:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

@media screen and (max-width: 700px) {
  .contactContenedor {
    margin-left: 10px;
  }

  .contactDescription{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 20px;
  }
  
  .contactForm{
    grid-column-start: 1;
    grid-column-end: 2;
  
  }

  .contactTitle{
    margin-left: 20px;

    }
}
