
@keyframes anim {
    0%{
      opacity:1;
      width:100px;
      border-top:5px solid #00CFEF;
    }
    50%{
      opacity:0;
      width:80vw;
      border-top:5px solid white;
    }
    100%{
      opacity:0.5;
      width:200px;
      border-top:5px solid powderblue;
    }
  }
  hr{
    animation:anim 3s infinite ease-out;
    border-radius:10px;
    width: 100%;
  }
  code {
    font-size:10vmin;
    color:white;
  }