.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(28, 28, 28);
}

.socialIcons {
  padding-left: 0;
  margin: 5px 10px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: flex-end;
  gap: 10px;
}

.enlace {
  text-decoration: none !important;
  color: #00cfef !important;
  margin-left: 5px;
}

.linkedin {
  font-size: 40px;
  color: #00cfef;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
}

.linkedin:hover {
    color:#0e76a8;
    box-shadow: 0 4px 4px rgb(46, 55, 59);
    transition: all 0.2s ease;
  }

.github {
  font-size: 40px;
  color: #00cfef;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
}

.github:hover{
    color:black;
    box-shadow: 0 4px 2px rgb(46, 55, 59);
    transition: all 0.2s ease;
}

.copyright{
    margin-left: 15px;
}

@media (max-width: 767px) {
}
