.active {
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s linear;
  z-index: 9;
  /* padding: 0 7%; */
}

.hidden {
  top: -100px;
}

.nombreAutor {
  color: aliceblue;
  padding-right: 30px;
  font-size: 30px;
  font-family: "Great Vibes", cursive;
}
