#AboutArticle {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 800px;
    max-width: 800px;
    background-color: var(--Surface);
    z-index: 1;
    padding: 20px;
  margin: 20px 0px;
  border-radius: 5px;
}

#AboutArticle:hover > #About img{
    left: 600px;
    transition: all .6s ease;
}

#AboutArticle:hover > #About #AboutMe { 
    width: 0;
    transition: all .6s ease;
}

#AboutArticle:hover > #About #AboutInfo {
    width: 555px;
    transition: all .6s ease;
}

#About {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

#About img {
    position: absolute;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    transition: all .6s ease;
  width: 200px;
  height: 300px;
}

#AboutMe h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#AboutMe h1::first-letter {
    font-size: 25px;
}

#AboutMe {
    overflow: hidden;
    position: absolute;
    width: 590px;
    min-height: 300px;
    max-height: 300px;
    right: 0;
    transition: all .6s ease;
}

#AboutMe div {
    position: absolute;
    overflow: hidden;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    text-align: justify;
    min-width: 550px;
    max-width: 550px;
    min-height: 100%;
    max-height: 100%;
}

#AboutInfoText span h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#AboutInfoText span h1::first-letter {
    font-size: 25px;
}

#AboutInfoText span h3 {
    letter-spacing: 0.5px;
    font-size: 15px;
    text-transform: uppercase;
}

#AboutInfoText span h3::first-letter {
    font-size: 20px;
}

#AboutInfo {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 0;
    min-height: 300px;
    max-height: 300px;
    padding: 0;
    margin: 0;
    right: 0;
    transition: all .6s ease;
}

#AboutInfo #AboutInfoText span > *{
    display: inline-block;
    text-decoration: none;
    color: var(--OnBackground);
    padding: 0;
    margin: 0;
}

#AboutInfo #AboutInfoText {
    position: absolute;
    overflow: hidden;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 555px;
    max-width: 555px;
    min-height: 300px;
    max-height: 300px;
}

#InfoIcons .LinkIcons {
    color: var(--Secondary) !important;
    text-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}
/* Just page formatting */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --Background: #121212;
  --Surface: #222222;
  --Primary: #ff7597;
  --Secondary: #ff0266;
  --OnColor: #121212;
  --OnBackground: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #f0ffff;
  height: 100vh;
  width: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: var(--Surface);
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0px;
}

p {
  text-align: justify;
}